.top {
    background-color: #303030;
}

.brand {
    font-family: 'Oleo Script';
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
}

.navbar {

    text-transform: uppercase;
    font-weight: bold;
}

.nav-item {
    padding: 1rem;
}