.top {
    background-color: #303030;
}

.brand {
    font-family: 'Oleo Script';
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
}

.navbar {

    text-transform: uppercase;
    font-weight: bold;
}

.nav-item {
    padding: 1rem;
}

main {
    color: #fff;
    font-family: 'Raleway';
    text-transform: uppercase;
}


h1 {
    font-weight: 600;
    font-size: 16rem;
    max-width: 540px;
}

.highlight {
    color: #7b6c63;
}

.first {
    z-index: 1;
    position: relative;

}

.carousel-section {
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
    overflow: hidden;

}

.carousel-container {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;

}

.img-car {
    width: 100%;
    min-height: 300px;
}

.carousel .carousel-indicators {
    justify-content: start;
    margin-left: 6%;
}

.carousel .carousel-indicators button {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.custom-style {
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-top: solid black 3px;
    padding: 10px;
}

.custom-style:focus {
    outline: none;
}

.message {
    border-bottom: solid black 1px;
    padding-bottom: 8%;
}

.contact {
    background-color:
        #f5f5f5;
}

@media (min-width: 1200px) {
    .contact .px-xl-20 {
        padding-left: 20rem;
        padding-right: 20rem;
    }
}

.contact .button {
    margin-top: 30px;
    padding: 5px 50px;
    border-radius: 0;
    border: solid 2px;
}

.footer-info {
    background-color: #222222;
    color: #929292;
}

.copyright {
    color: #595959;
    background-color: #1c1c1c;
}